<div>
    <h2 id="page-heading">
        <span jhiTranslate="itcenterbazaApp.paymentMethod.home.title">Payment Methods</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-method" [routerLink]="['/payment-method/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="itcenterbazaApp.paymentMethod.home.createLabel">
            Create a new Payment Method
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentMethods?.length === 0">
        <span jhiTranslate="itcenterbazaApp.paymentMethod.home.notFound">No paymentMethods found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentMethods && paymentMethods.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentMethod"><span jhiTranslate="itcenterbazaApp.paymentMethod.paymentMethod">Payment Method</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="itcenterbazaApp.paymentMethod.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="active"><span jhiTranslate="itcenterbazaApp.paymentMethod.active">Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let paymentMethod of paymentMethods ;trackBy: trackId">
                    <td><a [routerLink]="['/payment-method', paymentMethod.id, 'view']">{{ paymentMethod.id }}</a></td>
                    <td>{{ paymentMethod.paymentMethod }}</td>
                    <td>{{ paymentMethod.description }}</td>
                    <td>{{ paymentMethod.active }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment-method', paymentMethod.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payment-method', paymentMethod.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentMethod)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
