<div>
    <h2 id="page-heading">
        <span jhiTranslate="itcenterbazaApp.participant.home.title">Participants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-participant" [routerLink]="['/participant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="itcenterbazaApp.participant.home.createLabel">
            Create a new Participant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="participants?.length === 0">
        <span jhiTranslate="itcenterbazaApp.participant.home.notFound">No participants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="participants && participants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startingDate"><span jhiTranslate="itcenterbazaApp.participant.startingDate">Starting Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="active"><span jhiTranslate="itcenterbazaApp.participant.active">Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="itcenterbazaApp.participant.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contractNumber"><span jhiTranslate="itcenterbazaApp.participant.contractNumber">Contract Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="studentId"><span jhiTranslate="itcenterbazaApp.participant.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="courseId"><span jhiTranslate="itcenterbazaApp.participant.course">Course</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let participant of participants ;trackBy: trackId">
                    <td><a [routerLink]="['/participant', participant.id, 'view']">{{ participant.id }}</a></td>
                    <td>{{ participant.startingDate | date:'mediumDate' }}</td>
                    <td>{{ participant.active }}</td>
                    <td jhiTranslate="{{ 'itcenterbazaApp.ParticipantStatus.' + participant.status }}">{{ participant.status }}</td>
                    <td>{{ participant.contractNumber }}</td>
                    <td>
                        <div *ngIf="participant.studentId">
                            <a [routerLink]="['/student', participant.studentId , 'view']" >{{ participant.studentId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="participant.courseId">
                            <a [routerLink]="['/course', participant.courseId , 'view']" >{{ participant.courseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/participant', participant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/participant', participant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(participant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
