<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="skill">
            <h2><span jhiTranslate="itcenterbazaApp.skill.detail.title">Skill</span> {{ skill.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="itcenterbazaApp.skill.titleUz">Title Uz</span></dt>
                <dd>
                    <span>{{ skill.titleUz }}</span>
                </dd>
                <dt><span jhiTranslate="itcenterbazaApp.skill.titleRu">Title Ru</span></dt>
                <dd>
                    <span>{{ skill.titleRu }}</span>
                </dd>
                <dt><span jhiTranslate="itcenterbazaApp.skill.titleEn">Title En</span></dt>
                <dd>
                    <span>{{ skill.titleEn }}</span>
                </dd>
                <dt><span jhiTranslate="itcenterbazaApp.skill.about">About</span></dt>
                <dd>
                    <span>{{ skill.about }}</span>
                </dd>
                <dt><span jhiTranslate="itcenterbazaApp.skill.planFile">Plan File</span></dt>
                <dd>
                    <div *ngIf="skill.planFile">
                        <a (click)="openFile(skill.planFileContentType, skill.planFile)" jhiTranslate="entity.action.open">open</a>
                        {{ skill.planFileContentType }}, {{ byteSize(skill.planFile) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/skill', skill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
